:root {
    --color-white: #fff;
    --color-lightest-grey: #f1f1f1;
    --color-light-grey: #e1e1e1;
    --color-medium-grey: #979797;
    --color-dark-grey: #545454;
    --color-not-black: #222;
    --color-pale-green: #5e7167;
    --font-sans: 'Fira Sans', -apple-system, blinkmacsystemfont, 'avenir next', avenir,
    helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial,
    sans-serif;
    --font-size-large: 28px;
    --font-size-medium: 20px;
    --font-size-normal: 16px;
    --font-size-small: 14px;
    --font-weight-sans-normal: 400;
    --font-weight-sans-medium: 500;
    --font-weight-sans-bold: 600;
    --spacing-double: 3rem;
    --spacing-single: 1.5rem;
    --spacing-two-thirds: 1rem;
    --spacing-half: 0.75rem;
    --spacing-third: 0.5rem;
    --spacing-sixth: 0.25rem;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    text-size-adjust: none;
}

body {
    background-color: var(--color-white);
    color: var(--color-not-black);
    font-family: var(--font-sans);
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: .25px;
    margin-bottom: var(--spacing-half);
}

p {
    margin-bottom: var(--spacing-single);
}

a {
    color: var(--color-pale-green);

    &:hover {
        text-decoration: none;
    }
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
    content: '';
    content: none;
}

button {
    appearance: button;
    background: 0 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: var(--font-sans);
}

img {
    height: auto;
    vertical-align: middle;
    width: 100%;
}

small {
    font-variant-caps: all-small-caps;
    font-feature-settings: "c2sc", "smcp";
    letter-spacing: .025em;
}
