{% macro printArray(array, title, pluralTitle) %}
    {% if (array | isLongerThanOne) %}
        {% for item in array %}
            {% if loop.first %}
                <dt>{{ pluralTitle }}</dt>
                <div>
            {% endif %}
            <dd>{{ item }}</dd>
            {% if loop.last %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <dt>{{ title }}</dt>
        <dd>{{ array }}</dd>
    {% endif %}
{% endmacro %}
