<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% if title %}{{ title }}&nbsp;-&nbsp;{% endif %}{{ metadata.title }}
        </title>
        <meta name="description" content="{{ description or metadata.description }}" />
        
        <!-- Favicons -->
        <link rel="icon" href="/favicon.ico" sizes="any" />
        <link rel="icon" href="/icon.svg" type="image/svg+xml" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        
        <!-- Fonts -->
        <link
            rel="preload"
            href="/fonts/FiraSans-Regular.woff2"
            as="font"
            type="font/woff2"
            crossorigin=""
        />
        <link
            rel="preload"
            href="/fonts/FiraSans-Medium.woff2"
            as="font"
            type="font/woff2"
            crossorigin=""
        />
        <link
            rel="preload"
            href="/fonts/FiraSans-SemiBold.woff2"
            as="font"
            type="font/woff2"
            crossorigin=""
        />
        
        <!-- Feeds -->
        <link
            rel="alternate"
            href="{{ metadata.feed.path | url }}"
            type="application/atom+xml"
            title="{{ metadata.title }}"
        />
        <link
            rel="alternate"
            href="{{ metadata.jsonfeed.path | url }}"
            type="application/json"
            title="{{ metadata.title }}"
        />
        
        <!-- Open Graph -->
        <meta property="og:url" content="{{ site.url ~ page.url }}" />
        <meta property="og:title" content="{% if title %}{{ title }}&nbsp;-&nbsp;{% endif %}{{ metadata.title }}" />
        <meta property="og:description" content="{{ description or metadata.description }}" />
        
        <!-- Styles -->        
        <style>{% include "css/main.css" | assetPath %}</style>
    </head>
    <body>
        <div class="container">
            {% include "partials/site-header.njk" %}
            
            <main>{{ content | safe }}</main>
            
        </div>
        <script>{% include "js/main.js" | assetPath %}</script>
    </body>
</html>
