---
layout: layouts/base.njk
---

{% set book = media === 'Book' %}
{% set movie = media === 'Movie' %}
{% set show = media === 'TV Show' %}
{% if book %}
    {% set creatorTitle = 'Author' %}
    {% set creatorTitlePlural = 'Authors' %}
{% elif movie %}
    {% set creatorTitle = 'Director' %}
    {% set creatorTitlePlural = 'Directors' %}
{% elif show %}
    {% set creatorTitle = 'Showrunner' %}
    {% set creatorTitlePlural = 'Showrunners' %}
{% endif %}

<article>
    <header class="postHeader">
        <div class="postTitle-wrapper">
            <h2 class="postTitle">{{ title | postTitle(original_title, original_language, season, episode) }}</h2>
            <div class="releaseDate">{{ release | yearOnly }}</div>
        </div>
        <div class="postDates">
            {% if revisit %}
                <span class="icon-rewatch postRewatch">{% include "svg/revisit.svg" %}</span>
            {% endif %}
            {% if book and date_started %}
            <time datetime="{{ date_started | htmlDateString }}">
                {{ date_started | readableDate }}
            </time>
            &rarr;
            {% endif %}
            <time datetime="{{ page.date | htmlDateString }}">
                {{ page.date | readableDate }}
            </time>
        </div>
    </header>
    
    <dl class="postDetails">
        {% printArray creator, creatorTitle, creatorTitlePlural %}
        
        {% if movie or show %}
        {% printArray studios, 'Studio', 'Studios' %}
        
        <dt>Length</dt>
        <dd>{{ length }} minutes</dd>
        
        {% printArray genre, 'Genre', 'Genres' %}
        
        {% printArray country, 'Country', 'Countries' %}
        {% endif %}
        
        {% if book %}
        <dt>Publisher</dt>
        <dd>{{ publisher }}</dd>
        
        <dt>ISBN-13</dt>
        <dd>{{ isbn }}</dd>
        
        <dt>Pages</dt>
        <dd>{{ pages }}</dd>
        {% endif %}
        
        {% printArray language, 'Language', 'Languages' %}
        
        {% if format !== '' %}
        <dt>Format</dt>
        <dd>{{ format }}</dd>
        {% endif %}
        
        {% if movie or show %}
            {% if service !== '' %}
            <dt>Service</dt>
            <dd>{{ service }}</dd>
            {% endif %}
            
            {% if venue !== '' %}
            <dt>Venue</dt>
            <dd>{{ venue }}</dd>
            {% endif %}
        {% endif %}
        
        {% getPreviousViews page.url, collections.posts %}
    </dl>
</article>
