---
layout: layouts/base.njk
---

{% from 'macros/post-title.njk' import postTitle %}
{% set book = media === 'Book' %}
{% set movie = media === 'Movie' %}
{% set show = media === 'TV Show' %}

<article>
    <header class="postHeader">
        <div class="postTitle-wrapper">
            <h2 class="postTitle">{{ postTitle(title, season, episode) }}</h2>
            <div class="releaseDate">{{ release | yearOnly }}</div>
        </div>
        <div class="postDates">
            {% if revisit %}
                <span class="icon-rewatch postRewatch">{% include "svg/revisit.svg" %}</span>
            {% endif %}
            {%if book and date_started %}
            <time datetime="{{ date_started | htmlDateString }}">
                {{ date_started | readableDate }}
            </time>
            &rarr;
            {% endif %}
            <time datetime="{{ page.date | htmlDateString }}">
                {{ page.date | readableDate }}
            </time>
        </div>
    </header>
    
    <dl class="postDetails">
        <dt>{%if book %}Author{% elif movie %}Director{% elif show %}Showrunner{% endif %}</dt>
        <dd>{{ creator }}</dd>
        
        {% if movie or show %}
        <dt>Studio{% if (studios | isArray) %}s{% endif %}</dt>
        <dd>
            {% if (studios | isArray) %}
                {% for studio in studios %}{% if loop.first %}{{ studio }}{% else %}, {{ studio }}{% endif %}{% endfor %}
            {% else %}
                {{ studios }}
            {% endif %}
        </dd>
        
        <dt>Length</dt>
        <dd>{{ length }} minutes</dd>
        
        <dt>Genre</dt>
        <dd>{{ genre }}</dd>
        
        <dt>Country</dt>
        <dd>{{ country }}</dd>
        {% endif %}
        
        {%if book %}
        <dt>Publisher</dt>
        <dd>{{ publisher }}</dd>
        
        <dt>ISBN-13</dt>
        <dd>{{ isbn }}</dd>
        
        <dt>Pages</dt>
        <dd>{{ pages }}</dd>
        {% endif %}
        
        <dt>Language</dt>
        <dd>{{ language }}</dd>
        
        {% if movie or show %}
        <dt>Venue</dt>
        <dd>{{ venue }}</dd>
        {% endif %}
        
        <dt>Format</dt>
        <dd>{{ format }}</dd>
        
        {% getPreviousViews page.fileSlug, collections.posts %}
    </dl>
</article>
