@import '../mixins';

.postHeader {
    margin-bottom: var(--spacing-single);
}

.postTitle {
    font-size: var(--font-size-large);
    margin-bottom: 0;
    margin-right: var(--spacing-half);

    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
}

.releaseDate {
    color: var(--color-dark-grey);
    font-size: var(--font-size-medium);
}

.postDates {
    color: var(--color-dark-grey);
    font-size: var(--font-size-small);
}

.postDetails {
    display: grid;
    grid-template-columns: 125px 1fr;

    dt {
        font-weight: var(--font-weight-sans-medium);
    }
}

.postNav {
    border-top: 1px solid var(--color-light-grey);
    display: grid;
    grid-template-columns: 1fr;
    margin-top: var(--spacing-single);
    padding-top: var(--spacing-single);

    @include breakpoint('small') {
        grid-template-columns: 1fr 1fr;
    }

    &-next {
        text-align: right;
    }

    &-title {
        font-weight: var(--font-weight-sans-medium);

        .postNav-next & {
            margin-right: var(--spacing-half);
        }

        .postNav-previous & {
            margin-left: var(--spacing-half);
        }
    }
}
