@import '../mixins';

.postHeader {
    margin-bottom: var(--spacing-single);
}

.postTitle {
    font-size: var(--font-size-large);
    margin-bottom: 0;
    margin-right: var(--spacing-half);

    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
}

.releaseDate {
    color: var(--color-dark-grey);
    font-size: var(--font-size-medium);
}

.postDates {
    color: var(--color-dark-grey);
    font-size: var(--font-size-small);
}

.postDetails {
    display: grid;
    grid-template-columns: 125px 1fr;

    dt {
        font-weight: var(--font-weight-sans-medium);
    }
}
