---
layout: layouts/base.njk
permalink: /index.html
eleventyNavigation:
    key: Log
    order: 1
---
<div class="logHeader">
    <p>{{ metadata.description }}</p>
    {% getFilters collections.posts %}
</div>

{% getPostsByFilter collections.posts %}

<script>{% include "js/main.js" | assetPath %}</script>
