---
layout: layouts/base.njk
permalink: /filters/index.html
---
<div class="logHeader">
    <p class="headerDescription">{{ metadata.description }}</p>
    {% getFilters supabasePosts %}
</div>

{% getPostsByFilter supabasePosts | reverse %}

<script>{% include "js/main.js" | assetPath %}</script>
