<header class="pageHeader">
    <h1 class="pageHeader-title">
        <a
            class="navItem-link"
            href="{{ '/' | url }}"
        >
            {{ metadata.title }}
        </a>
    </h1>
    <nav class="nav">
        <ul>
            {% for navItem in collections.all | eleventyNavigation %}
                <li class="navItem">
                    <a
                        class="navItem-link{% if (navItem.url == page.url) or (navItem.title == 'Log' and ('/content/post' in page.filePathStem or '/filters' in page.filePathStem)) %} navItem-link_active{% endif %}"
                        href="{{ navItem.url | url }}"
                    >
                        {{ navItem.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>

{{ page | log }}